body {
  font-family: sans-serif;
  text-align: center;
  background: #fafafa;
  margin: 0;
  padding: 20px;
}

.buttons {
  margin-bottom: 15px;
}

a {
  display: inline-block;
  margin: 0 10px;
  padding: 10px 20px;
  background: #4285f4;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.2s;
}

a:hover {
  background: #357ae8;
}

iframe {
  width: 90%;
  height: 70vh;
  border: 1px solid #ccc;
  border-radius: 6px;
}
h1 {
  font-size:30px;
}
